.wrapper{
    display: flex;
    justify-content: center;
}
.drop{
    padding-left: 30px;
    position: relative;
    animation-name: test;
}
@keyframes test{
    from{top: 0px;}
    to {top: 500px;}
}