body{
    font-family: 'Oswald';
}
.container{
    position: absolute;
}
.container .header{
    width: 100%;
    height: auto;
    background-color: wheat;
    font-size: 90px;
    text-align: center;
    position: fixed;
}
.container .content{
    position: relative;
    padding-top: 110px;
}