.row-wapper{
    width: 100%;
    height: 30%;
    background-color: cadetblue;
    position: relative;
    display: flex;
}
.row-wapper .column-wapper{
    width: 100%;
    height: 10%;
    margin: 5px;
}
.column-wapper .box{
    width: 95%;
    background-color: blue;
    text-align: center;
    border: 1px solid black;
    margin: 5px;
}

.grid{
    display: grid; 
    grid-template-columns: auto auto auto;
    background-color: rgb(213, 218, 218);
    margin: 10px 10px;
 }
 .box1{
    border:1px #ccc solid;
    background-color:rgb(77, 202, 171);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}